<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
        <section class="gu-23_vc_class verticalPage newPage printArea pagePanel">
    <div class="pPageBorder">
        <div style="width: 19.5cm; margin: auto;">
            <div class="header">
                <div style="width: 100%; text-align: right;">
                    <div style="display: inline-block;">
                        <div><span style="font-weight: bold;">Форма ГУ-23 ВЦ &nbsp;&nbsp;</span><span style="border: 2px solid black;">&nbsp;&nbsp;0363828&nbsp;&nbsp;</span></div>
                        <div>Утверждена ОАО "РЖД" в 2004 г.</div>
                    </div>
                </div>
                <div><br><br></div>
                <div style="width: 100%; text-align: center; text-transform: uppercase;">
                    <h4><b>Акт общей формы № <span class="_gu_23_vc_actNumber">{{ act_number;Номер_акта;drli_1 }}</span></b></h4>
                </div>
                <div style="width: 100%;">
                    <div style="width: 65%; display: inline-block; vertical-align: top;">Станция, код <b><span class="_gu_23_vc_actSendStation">{{ station_code;Станция_код }}</span></b></div><!--
                 --><div style="width: 35%; display: inline-block; vertical-align: top;"><b><span class="_gu_23_vc_actDate">{{ act_date;Дата_акта }}</span></b></div>
                </div>
                <br>
                <div style="width: 100%;">
                    <div style="width: 65%; display: inline-block; vertical-align: top;">
                        <div style="display: inline-block;">
                            Поезд №
                            <div style="width: 2cm; text-align: center; display: inline-block;"><span class="_gu_23_vc_TrainWagonNumber">{{ train_number;Номер_поезда }}</span></div>
                            индекс
                            <div style="width: 4cm; text-align: center; display: inline-block;"><span class="_gu_23_vc_TrainIndexWagonNumber">{{ train_index;Индекс_поезда }}</span></div>
                        </div>
                    </div><!--
                 --><div style="width: 35%; display: inline-block; vertical-align: top;"><span>на перегоне</span></div>
                </div>
                <br>
                <div>Настоящий акт составлен в присутствии следующих лиц:</div>
                <div style="width: 100%;">
                    <div style="width:65%; display: inline-block;"><b><span class="_gu_23_vc_actWho1postMade">{{ person1_position;Должность_1; }}</span></b></div><!--
                 --><div style="width:35%; display: inline-block;"><b><span class="_gu_23_vc_actWho1Made">{{ person1_name;ФИО_1 }}</span></b></div>
                </div>
                <div style="width: 100%;">
                    <div style="width:65%; display: inline-block;"><b><span class="_gu_23_vc_actWho2postMade">{{ person2_position;Должность_2 }}</span></b></div><!--
                 --><div style="width:35%; display: inline-block;"><b><span class="_gu_23_vc_actWho2Made">{{ person2_name;ФИО_2 }}</span></b></div>
                </div>
                <div style="width: 100%;">
                    <div style="width:65%; display: inline-block;"><b><span class="_gu_23_vc_actWho3postMade">{{ person3_position;Должность_3 }}</span></b></div><!--
                 --><div style="width:35%; display: inline-block;"><b><span class="_gu_23_vc_actWho3Made">{{ person3_name;ФИО_3 }}</span></b></div>
                </div>
                <br>
            </div>
            <!-- /.header -->
            <div class="body">
                <div>Перевозчик <b><span>ОАО "РЖД"</span></b></div>
                <div>Станция отправления&nbsp;<b><span class="_gu_23_vc_SendStation">{{ departure_station;Станция_отправления }}</span></b></div>
                <div>Станция назначения&nbsp;<b><span class="_gu_23_vc_ReceiveStation">{{ destination_station;Станция_назначения }}</span></b></div>
                <div>Отправка № <b><span class="_gu_23_vc_SendNumber">{{ shipment_number;Номер_отправки }}</span></b></div>
                <div>Дата приема груза к перевозке <b><span class="_gu_23_vc_DateCargoReceive">{{ cargo_acceptance_date;Дата_приема_груза }}</span></b></div>
                <div>Вагон, контейнер № <b><span class="_gu_23_vc_WagonContainerNumber">{{ wagon_container_number;Номер_вагона_контейнера }}</span></b></div>
                <div>Наименование груза</div>
                <div><b><span class="_gu_23_vc_Cargo">{{ cargo_name;Наименование_груза }}</span></b></div>
                <br>
                <div>Описание обстоятельств, вызвавших составление акта:</div>
                <div>
                    <b><span class="_gu_23_vc_actReason">{{ act_reason;Причина_составления_акта }}</span></b>
                </div>
                <br>
                <div>Перечень наложенных ЗПУ:</div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <td style="border: 1px solid black;">Тип ЗПУ</td>
                                <td style="border: 1px solid black;">Номер ЗПУ</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border: 1px solid black;"><span class="_gu_23_vc_ZPUType">{{ seal_type;Тип_ЗПУ }}</span></td>
                                <td style="border: 1px solid black;"><span class="_gu_23_vc_ZPU">{{ seal_number;Номер_ЗПУ }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.body -->
            <div class="footer noPageSplit">
                <div style="width: 100%;">
                    <div style="display: inline-block;"><span>Отправитель&nbsp;</span></div><!--
                 --><div style="display: inline-block;"><b><span class="_gu_23_vc_CargoSender">{{ sender;Отправитель }}</span></b></div>
                </div>
                <div style="width: 100%;">
                    <div style="display: inline-block;"><span>Получатель&nbsp;</span></div><!--
                 --><div style="display: inline-block;"><b><span class="_gu_23_vc_CargoReceiver">{{ receiver;Получатель }}</span></b></div>
                </div>
                <br>
                <div>Подписи:</div>
                <div style="width: 100%;">
                    <div style="display: inline-block;">
                        <b><span class="_gu_23_vc_actWho1postMade">{{ person1_position;Должность_1 }}</span></b>
                    </div><!--
                 --><div style="width: 5cm; display: inline-block; border-bottom: 1px solid black;">
                        <span>{{ signature1;Подпись_1 }}</span>
                    </div><!--
                 --><div style="width: 8cm; display: inline-block;">
                        <b><span class="_gu_23_vc_actWho1Made">{{ person1_name;ФИО_1 }}</span></b>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div style="display: inline-block;">
                        <b><span class="_gu_23_vc_actWho2postMade">{{ person2_position;Должность_2 }}</span></b>
                    </div><!--
                 --><div style="width: 5cm; display: inline-block; border-bottom: 1px solid black;">
                        <span>{{ signature2;Подпись_2 }}</span>
                    </div><!--
                 --><div style="width: 8cm; display: inline-block;">
                        <b><span class="_gu_23_vc_actWho2Made">{{ person2_name;ФИО_2 }}</span></b>
                    </div>
                </div>
                <div style="width: 100%; display: none;" class="_gu_23_vc_actWho3Stroke">
                    <div style="display: inline-block;">
                        <b><span class="_gu_23_vc_actWho3postMade">{{ person3_position;Должность_3 }}</span></b>
                    </div><!--
                 --><div style="width: 5cm; display: inline-block; border-bottom: 1px solid black;">
                        <span>{{ signature3;Подпись_3 }}</span>
                    </div><!--
                 --><div style="width: 8cm; display: inline-block;">
                        <b><span class="_gu_23_vc_actWho3Made">{{ person3_name;ФИО_3 }}</span></b>
                    </div>
                </div>
            </div>
            <!-- /.footer -->
        </div>
        <!-- /.print-area -->
    </div>
</section>

	</body>
</html>